<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Answer</title>
</head>
<body>
  <h2>This is anwer page and </h2>
  <!-- <h1><%= optionData.title %></h1> -->
  <!-- <img src="<%= optionData.image %>" alt="Option Image"> -->
  <!-- <audio controls>
    <source src="<%= optionData.audio %>" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
  <video width="320" height="240" controls>
    <source src="<%= optionData.video %>" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->
  <!-- Add other data as needed -->
</body>
</html>
